<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eClass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <eClass.Properties.Settings>
            <setting name="eClass_ConstantService_Constant" serializeAs="String">
                <value>http://localhost:8082/Constant.asmx</value>
            </setting>
            <setting name="eClass_DataBaseService_Database" serializeAs="String">
                <value>http://localhost:8082/Database.asmx</value>
            </setting>
            <setting name="eClass_OtherService_Other" serializeAs="String">
                <value>http://localhost:8082/Other.asmx</value>
            </setting>
            <setting name="eClass_SecurityService_Security" serializeAs="String">
                <value>http://localhost:8082/Security.asmx</value>
            </setting>
        </eClass.Properties.Settings>
    </applicationSettings>
</configuration>